In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\AjayDhumale\Downloads\analysis_id.csv")

In [3]:
df

,Unnamed: 0,date_hour,client,device_type,time_zone,os_name,browser_name,ad_unit,size,bidder,...,sum_time_to_respond,median,min_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout
0,0,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,onemobile,...,6614.0,NaN,0.58520,0.58520,0.585200,0.5852,0.5852,NaN,NaN,NaN
1,1,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,rhythmone,...,5171.0,NaN,0.33945,0.34875,0.344100,NaN,NaN,NaN,NaN,NaN
2,2,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-InLine-1,300x250,undertone,...,1523.0,NaN,0.96000,0.96000,0.960000,NaN,NaN,NaN,NaN,NaN
3,3,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,rhythmone,...,3570.0,0.34875,0.34410,0.34875,0.346425,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_20,468x60,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4996,4996,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_20,728x90,medianet,...,363.0,0.05828,0.05828,0.05828,0.058280,NaN,NaN,NaN,NaN,NaN
4997,4997,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_22,468x60,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4998,4998,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_27,310x260,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4999,4999,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_33,728x90,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5000 non-null   int64
 1   date_hour               5000 non-null   object
 2   client                  5000 non-null   object
 3   device_type             5000 non-null   object
 4   time_zone               5000 non-null   object
 5   os_name                 5000 non-null   object
 6   browser_name            5000 non-null   object
 7   ad_unit                 5000 non-null   object
 8   size                    5000 non-null   object
 9   bidder                  5000 non-null   object
 10  bid_range               5000 non-null   object
 11  media_type              5000 non-null   object
 12  request_count           5000 non-null   int64
 13  response_count          5000 non-null   int64
 14  prebid_win_count        1167 non-null   float64
 15  win_count               186 non-null    float64
 16  sum_bid                 3790 non-null   float64
 17  sum_time_to_respond     3790 non-null   float64
 18  median                  1760 non-null   float64
 19  min_bid                 3790 non-null   float64
 20  max_bid                 3790 non-null   float64
 21  avg_bid                 3790 non-null   float64
 22  sum_2nd_highest_bid     734 non-null    float64
 23  sum_prebid_winning_bid  1167 non-null   float64
 24  sum_winning_bid         186 non-null    float64
 25  sum_nobid               0 non-null      float64
 26  sum_timeout             0 non-null      float64
dtypes: float64(13), int64(3), object(11)
memory usage: 1.0+ MB

In [13]:
df.drop_duplicates()

,Unnamed: 0,date_hour,client,device_type,time_zone,os_name,browser_name,ad_unit,size,bidder,...,sum_time_to_respond,median,min_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout
0,0,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,onemobile,...,6614.0,NaN,0.58520,0.58520,0.585200,0.5852,0.5852,NaN,NaN,NaN
1,1,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,rhythmone,...,5171.0,NaN,0.33945,0.34875,0.344100,NaN,NaN,NaN,NaN,NaN
2,2,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-InLine-1,300x250,undertone,...,1523.0,NaN,0.96000,0.96000,0.960000,NaN,NaN,NaN,NaN,NaN
3,3,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,rhythmone,...,3570.0,0.34875,0.34410,0.34875,0.346425,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_20,468x60,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4996,4996,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_20,728x90,medianet,...,363.0,0.05828,0.05828,0.05828,0.058280,NaN,NaN,NaN,NaN,NaN
4997,4997,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_22,468x60,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4998,4998,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_27,310x260,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4999,4999,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_33,728x90,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
total_bid = df.shape[0]

In [19]:
total_bid

5000

In [14]:
df.groupby('bidder')['win_count'].count().reset_index()

          bidder  win_count
0                         0
1       33across         13
2       appnexus          9
3         criteo         14
4    emx_digital         13
5             ix         11
6       medianet         16
7      onemobile         31
8          openx          7
9       pubmatic         19
10    pulsepoint          5
11     rhythmone         13
12       rubicon          0
13  sharethrough          9
14         sovrn          1
15         teads          7
16    triplelift          6
17     undertone         12

In [15]:
df_1= df.groupby('bidder')[['prebid_win_count','win_count']].count().reset_index()

In [16]:
df_1['total_wins'] = df_1['prebid_win_count']+df_1['win_count']

In [17]:
df_1

          bidder  prebid_win_count  win_count  total_wins
0                                0          0           0
1       33across                74         13          87
2       appnexus                71          9          80
3         criteo               100         14         114
4    emx_digital                43         13          56
5             ix               102         11         113
6       medianet               108         16         124
7      onemobile               188         31         219
8          openx                42          7          49
9       pubmatic                82         19         101
10    pulsepoint                59          5          64
11     rhythmone                87         13         100
12       rubicon                26          0          26
13  sharethrough                64          9          73
14         sovrn                10          1          11
15         teads                28          7          35
16    triplelift                54          6          60
17     undertone                29         12          41

In [21]:
df_1['winning_rate'] = (df_1['total_wins']/total_bid)*100

In [22]:
df_1

          bidder  prebid_win_count  win_count  total_wins  winning_rate
0                                0          0           0          0.00
1       33across                74         13          87          1.74
2       appnexus                71          9          80          1.60
3         criteo               100         14         114          2.28
4    emx_digital                43         13          56          1.12
5             ix               102         11         113          2.26
6       medianet               108         16         124          2.48
7      onemobile               188         31         219          4.38
8          openx                42          7          49          0.98
9       pubmatic                82         19         101          2.02
10    pulsepoint                59          5          64          1.28
11     rhythmone                87         13         100          2.00
12       rubicon                26          0          26          0.52
13  sharethrough                64          9          73          1.46
14         sovrn                10          1          11          0.22
15         teads                28          7          35          0.70
16    triplelift                54          6          60          1.20
17     undertone                29         12          41          0.82

In [32]:
sorted_high_winning_rate =df_1.sort_values(by='winning_rate', ascending = False, ignore_index=True)

In [33]:
sorted_high_winning_rate['bidder'][0]

'onemobile'

In [34]:
sorted_high_winning_rate['winning_rate'][0]

np.float64(4.38)

In [35]:
# new approach

In [45]:
df_2 = df.groupby('bidder')['response_count'].count().reset_index()

In [46]:
df_2

          bidder  response_count
0                           1210
1       33across             240
2       appnexus             197
3         criteo             306
4    emx_digital             169
5             ix             464
6       medianet             384
7      onemobile             407
8          openx             197
9       pubmatic             298
10    pulsepoint             134
11     rhythmone             246
12       rubicon             178
13  sharethrough             139
14         sovrn             102
15         teads              48
16    triplelift             232
17     undertone              49

In [47]:
df_3 = pd.merge(df_1,df_2, on = 'bidder', how= 'left')

In [48]:
df_3

,bidder,prebid_win_count,win_count,total_wins,winning_rate,response_count
0,,0,0,0,0.00,1210
1,33across,74,13,87,1.74,240
2,appnexus,71,9,80,1.60,197
3,criteo,100,14,114,2.28,306
4,emx_digital,43,13,56,1.12,169
5,ix,102,11,113,2.26,464
6,medianet,108,16,124,2.48,384
7,onemobile,188,31,219,4.38,407
8,openx,42,7,49,0.98,197
9,pubmatic,82,19,101,2.02,298
10,pulsepoint,59,5,64,1.28,134
11,rhythmone,87,13,100,2.00,246
12,rubicon,26,0,26,0.52,178
13,sharethrough,64,9,73,1.46,139
14,sovrn,10,1,11,0.22,102
15,teads,28,7,35,0.70,48
16,triplelift,54,6,60,1.20,232
17,undertone,29,12,41,0.82,49

In [49]:
df_3['winning_rate_2']= (df_3['total_wins']/df_3['response_count'])*100

In [50]:
df_3

,bidder,prebid_win_count,win_count,total_wins,winning_rate,response_count,winning_rate_2
0,,0,0,0,0.00,1210,0.000000
1,33across,74,13,87,1.74,240,36.250000
2,appnexus,71,9,80,1.60,197,40.609137
3,criteo,100,14,114,2.28,306,37.254902
4,emx_digital,43,13,56,1.12,169,33.136095
5,ix,102,11,113,2.26,464,24.353448
6,medianet,108,16,124,2.48,384,32.291667
7,onemobile,188,31,219,4.38,407,53.808354
8,openx,42,7,49,0.98,197,24.873096
9,pubmatic,82,19,101,2.02,298,33.892617
10,pulsepoint,59,5,64,1.28,134,47.761194
11,rhythmone,87,13,100,2.00,246,40.650407
12,rubicon,26,0,26,0.52,178,14.606742
13,sharethrough,64,9,73,1.46,139,52.517986
14,sovrn,10,1,11,0.22,102,10.784314
15,teads,28,7,35,0.70,48,72.916667
16,triplelift,54,6,60,1.20,232,25.862069
17,undertone,29,12,41,0.82,49,83.673469

In [51]:
df_3.sort_values(by='winning_rate_2', ascending= False)

,bidder,prebid_win_count,win_count,total_wins,winning_rate,response_count,winning_rate_2
17,undertone,29,12,41,0.82,49,83.673469
15,teads,28,7,35,0.70,48,72.916667
7,onemobile,188,31,219,4.38,407,53.808354
13,sharethrough,64,9,73,1.46,139,52.517986
10,pulsepoint,59,5,64,1.28,134,47.761194
11,rhythmone,87,13,100,2.00,246,40.650407
2,appnexus,71,9,80,1.60,197,40.609137
3,criteo,100,14,114,2.28,306,37.254902
1,33across,74,13,87,1.74,240,36.250000
9,pubmatic,82,19,101,2.02,298,33.892617
4,emx_digital,43,13,56,1.12,169,33.136095
6,medianet,108,16,124,2.48,384,32.291667
16,triplelift,54,6,60,1.20,232,25.862069
8,openx,42,7,49,0.98,197,24.873096
5,ix,102,11,113,2.26,464,24.353448
12,rubicon,26,0,26,0.52,178,14.606742
14,sovrn,10,1,11,0.22,102,10.784314
0,,0,0,0,0.00,1210,0.000000